<table>
  <thead class="h-12 bg-dark-background text-dark-text">
  <tr>
    <th *ngFor="let header of headers" class="w-auto min-w-32">{{ header.name }}</th>
  </tr>
  </thead>
  <tbody class="bg-dark-row text-dark-text">
  <ng-container *ngFor="let group of data; trackBy: trackByFn">
    <tr (click)="toggleGroup(group.symbol)">
      <td class="flex justify-center items-center h-12">
        <span class="w-20">{{ group.symbol }}</span>
        <span class="flex justify-center items-center bg-black w-8 h-8 rounded-full">{{ group.children.length }}</span>
      </td>
      <td *ngFor="let header of headers.slice(1)" class="w-full text-center">
        {{ getDisplayValue(group, header.id) }}
      </td>
    </tr>
    <ng-container *ngIf="expandedGroups.has(group.symbol)">
      <tr *ngFor="let item of group.children">
        <td></td>
        <td *ngFor="let header of headers.slice(1)">
          {{ getDisplayValue(item, header.id) }}
        </td>
      </tr>
    </ng-container>
  </ng-container>
  </tbody>
</table>
