@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'assets/styles/settings';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  @media all and (max-height: 1080px) {
    font-size: 14px;
  }

  ::-webkit-scrollbar {
    width: 12px;
  }
}

body {
  @apply w-full h-full m-0 p-0 font-sans relative overflow-x-hidden;
}

body.light {
  --bodyBackground: rgb(255, 255, 255);
  --background: rgb(233, 237, 241);
  --text: rgb(14, 15, 26);
  --row: rgb(220, 225, 229);
  --hover: rgb(201, 209, 216);
  --profitPositive: rgb(60, 193, 149);
  --profitNegative: rgb(249, 76, 76);
}

body.dark {
  --bodyBackground: rgb(81, 81, 81);
  --background: rgb(42, 56, 71);
  --text: rgb(198, 210, 219);
  --row: rgba(14, 15, 26, .90);
  --hover: rgba(53, 71, 89, .5);
  --profitPositive: rgb(60, 193, 149);
  --profitNegative: rgb(249, 76, 76);
}

body {
  background-color: var(--bodyBackground);
}

.bg-background {
  background-color: var(--background);
}

.text-text {
  color: var(--text);
}

.bg-row {
  background-color: var(--row);
}

.bg-hover:hover {
  background-color: var(--hover);
}

.text-profitPositive {
  color: var(--profitPositive);
}

.text-profitNegative {
  color: var(--profitNegative);
}
