@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'assets/styles/settings';

html {
  font-size: $font-size;
  height: 100%;
  width: 100%;
  @media all and (max-height: 1080px) {
    font-size: 14px;
  }
}

body {
  @apply w-full h-full m-0 p-0 bg-primary text-white font-sans relative overflow-x-hidden;
  font-family: $primary-font;
}
